/*MOBILE*/
@media only screen and (max-width: 480px) {

  /*Responsive menu starts*/

  /*Hide all the menu lists except the menu click icon*/
  ul#menu:not(.responsive) li:not(.icon) {display: none;}
  /* Display click icon to top left.*/
  ul.responsive li.icon {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
  }

  /*Display li vertically*/
  ul.responsive li:not(.icon) {
    display: block;
  }
  /*Add space to left when menu is expanded.*/
  .navigation.responsive {
    padding-left: 10%;
  }
  .navbar-nav li {
    float: none;
    padding: 5px;
  }
  .navigation li > div {
    position: static;
  }
  /*To fix click icon at same place on menu toggle.*/
  .navigation {
    position: relative;
  }
  /*Responsive Menu Ends*/

  #header {
    padding-top: 0;
    background: #555884 url(../images/navbg.jpg); 
  }
  /*HOme page*/
  #adbox {
    padding-top: 0;
  }
  #adbox > div img {
    float: none;
  }
  #adbox .detail {
    position: static;
    padding: 5%;
    padding-bottom: 10%;
  }
  .testimonial {
    float: none;
  }
  /*Home page Why choose us section.*/
  .featured li {
    float: none;
  }
  .featured {
    padding-left: 20px;
  }
  .featured li p, .small-intro {
    width: 320px;
  }
  .small-intro, .highlight h1 {
    padding-left: 20px;
    padding-right: 20px
  }
  /*Project page*/
  .sidebar {
    padding: 2%;
    border-right: 1px solid #eee;
   }
  .practices {
    width: 85%;
  }
  /*Footer*/
  #footer .section {
    float: none;
  }
  body {
    overflow-x: hidden;
  }

}

/*TABLETS*/
@media only screen and (max-width: 768px) {
  
}



