/*MOBILE*/

@media only screen and (max-width: 480px) {
  .navbar-nav li {
    float: none;
    padding: 5px;
  }
  .navigation li > div {
    position: static;
  }
  /*HOme page*/
    .testimonial {
      float: none;
    }
    /*Home page Why choose us section.*/
    .featured li {
      float: none;
    }
    .featured {
      padding-left: 20px;
    }
    .featured li p, .small-intro {
      width: 320px;
    }
    .small-intro, .highlight h1 {
      padding-left: 20px;
      padding-right: 20px
    }
    /*Project page*/
  .sidebar {
    padding: 2%;
    border-right: 1px solid #eee;
   }
  .practices {
    width: 85%;
  }
  /*Footer*/
  #footer .section {
    float: none;
  }
  body {
    overflow-x: hidden;
  }
}

/*TABLETS*/
@media only screen and (max-width: 768px) {
  
}
